

body.homepage {
    margin: 0;
    /*background-image: url('images/bckgrndfullbodyblue.jpg');*/
    background-image: url('images/AdminBuildinglowres.jpg');
    /* the first value refers to the left the second the top   */
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-size: auto 950px;*/
    background-size: 1600px auto;
}

.basicpagebody {

    margin: 0;

}
#mobilemenutop {
    display: none;
}
#textshowmenu {
    display: none;
}
#mmitems {
    display: none;
}
#topmenubar {
    z-index: 30;
    position: fixed;
    left: 16%;
    top: 0px;
    background-color: rgba(128,128,128,0.8);
    padding: 8px;
    border: solid 1px red;
}

#topmenubar a {
    color: ivory;
    font-size: 1.1em;
    /*font-weight: bold;*/
    margin: 12px;
}
#topmenubar a:hover {
    text-decoration: none;
    color: darkblue;
}

#slider {
    height: 500px;
    width: 100%;
    position: relative;
}
#fadedscreen {
    width: 100%;
    height: 500px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
}
#upleftlogopic{
    position: absolute; left: 10px; top: 13px;
}
#logoimage {
    height: 100px; width: auto;
}
#upleftlogotext {
    position: absolute; left: 15px; top: 47px;
}

#upperleftlogobox {
    position: absolute;
    z-index: 44;
    background-color: rgba(128,128,128,0.8);
    width: 150px;
    height: 130px;
    left: 15px;
    top: 15px;
    border: solid 1px orangered;
    border-radius: 10px;
}


.box {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
}
.current {
    z-index: 10;
}
.waiting {
    z-index: 3;

}
.currenttext {
    z-index: 20;
}
.waitingtext {
    z-index: 3;

}


#boxzero {
    background-image: url(images/0.jpg);
    background-size: cover;
    background-position: center center;
}
#boxone {
    background-image: url(images/1.jpg);
    background-size: cover;
    background-position: center center;
    visibility: hidden;
}
#boxtwo {
    background-image: url(images/2.jpg);
    background-size: cover;
    background-position: center center;
    visibility: hidden;
}
#boxthree {
    background-image: url(images/3.jpg);
    background-size: cover;
    background-position: center center;
    visibility: hidden;
}
#boxfour {
    background-image: url(images/4.jpg);
    background-size: cover;
    background-position: center center;
    visibility: hidden;
}
.bannertext {
    color: ivory;
    font-size: 3.2em;
    font-weight: bold;
    position: absolute;
    top: 220px;
    left: 40%;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
}
#text0 {
    top: 300px;
    left: 32%
}
#text1 {
    left: 35%;
}
#text2 {
    left: 32%;
}
#text3 {
    left: 35%;

}
#text4 {
    left: 35%;
}

#threeboxescontainer {

    position: relative;
    width: 100%;
    height: 300px;
    padding: 20px;
}
#threeboxesinset {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.callout {
    /*float: left;*/
    position: relative;
    float: left;
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: grey;
    border: 2px solid black;
    margin: 30px;
    box-shadow: 4px 4px 8px rgba(0,0,0,.5);
}
.callout:hover {
    background-color: lightcyan;
}
.callouticon {
    margin-left: 62px;
    margin-top: 35px;
}
.callouttext {
    /*float: left;*/
    /*display: inline-block;*/
    /*position: relative;*/
    color: black;
    margin: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

#callouticonhome {
    margin-left: 75px;
}
#callouticonusers{
    margin-left: 70px;
}

#introtext {
    position: relative;
    width: 100%;
    height: 200px;
    /*background-image: url(images/bckgrndblueshape.jpg);*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    background-color: grey;
    padding: 28px;
    border: 2px solid black;
}
#introcontentbox {
    /*position: absolute;*/
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 2px dashed ivory;
    padding: 20px;
    color: black;
    text-align: center;
}

#introtext2 {
    position: relative;
    width: 100%;
    height: 265px;
    /*background-image: url(images/bckgrndblueshape.jpg);*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    background-color: grey;
    padding: 28px;
    border: 2px solid black;
}
#introcontentbox2 {
    /*position: absolute;*/
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    border: 2px dashed ivory;
    padding: 20px;
    color: black;
    text-align: center;
}

#housestrip {
    position: relative;
    width: 100%;
    height: 300px;
    /*padding: 55px;*/
    padding-top: 40px;
    padding-bottom: 20px;
}
#housestripinset {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.housebox {
    width: 220px;
    height: 220px;
    background-size: cover;
    background-position: center center;
    border: 2px solid red;
    border-radius: 10px;
    /*margin: 20px;*/
    margin-left: 35px;
    box-shadow: 5px 5px 8px rgba(0,0,0,.5);
    position: relative;
    float: left;
    display: inline-block;
}
.housebox:hover {
    border: lightcyan 2px solid;
}

#firsthousebox {
    background-image: url(images/house1.jpg);
}
#secondhousebox {
    background-image: url(images/house2.jpg);
}
#thirdhousebox {
    background-image: url(images/homefamily1new.jpg);
}
#thefourthhousebox {
    background-image: url(images/citiesmap.jpeg);
}


#fadedscreenhousebox {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    font-size: 1.3em;
    text-align: center ;
    padding-top: 90px;
}

.lianxifangshi {
    color: darkblue;
}

#footer {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: grey;
    /*padding: px;*/
    /*border: 4px ivory dashed;*/
    border: 2px solid black;
}

#bottommenubar {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#bottommenubar a {
    color: black;
    text-decoration: none;
    margin: 10px;
}

#bottommenubar a:hover {
    color: darkblue;
}

#sitebylinks {
    font-size: 0.8em;
    color: black;
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

#sitebylinks a {
    text-decoration: none;
    color: black;
    margin: 10px;

}
#sitebylinks a:hover {
    color: darkblue;
}


.basicpageheader {

    height: 400px;
    width: 100%;
    position: relative;

}

#pagehosting {
    background-image: url(images/2.jpg);
    background-size: cover;
    background-position: center center;

}
#pagecities {

    background-image: url(images/cityplano2ndhires.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    padding-top: 140px;

}
#pageschools {
    background-image: url(images/0.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    padding-top: 140px;
}
#pagefees {
    background-image: url(images/cityfortworth.jpg);
    background-size: cover;
    background-position: center center;

}

#pagesummercamp {
    background-image: url(images/1.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
    padding-top: 123px;
}
#sumcampskyride {
    width: 320px;
    height: auto;
}
#pageabout {
    background-image: url(images/4.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
}
#mainaboutpic {
    width: 260px;
    height: auto;
}
#pagecontact {
    background-image: url(images/contactpagebannergraphic.jpg);
    background-size: cover;
    background-position: center center;
    height: 300px;
}



#boxformapoftexasonfeespage {
    width: 420px;
    margin-left: auto;
    margin-right: auto;

}
#feespagemapoftexas {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    box-shadow: 7px 7px 9px rgba(0,0,0,.5);

}
#guardianpic {
    width: 200px;
    height: auto;
}
#guardianspageextrapic {
    width: 400px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}


/* the item below refers to the "Plano, Texas..." text overlay
 on the cities.php page ... */
#planotextbanner {
    color: white;
    font-size: 1.8em;
    width: 370px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
}
#summercamptextbanner {
    color: yellow;
    font-size: 1.8em;
    width: 370px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;
    background-color: rgba(255,0,0,0.6);
    padding: 15px;

}
#schoolstextbanner {
    color: white;
    font-size: 1.8em;
    width: 370px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
}
.pagetextpicfloat {

    position: relative;
    width: 100%;
    /*height: 375px;*/
    background-color: lightgoldenrodyellow;
    padding-top: 20px;
    padding-bottom: 20px;
}

.boxwithtextandpic {

    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
    border: 2px dashed darkblue;
    padding: 25px;
}
#boxwithtextandpiccities {
    height: 460px;
}
#boxwithtextandpicschools {
    height: 225px;
    width: 800px;
}
#boxwithtextandpicrichardson {
    width: 800px;
    height: 155px;
}
#boxwithtextandpicplano {
    width: 700px;
    height: 275px;
}
#boxwithtextandpicmkinney {
    width: 800px;
    height: 180px;
}
#boxwithtextandpicfaithlutheran {
    width: 700px;
    height: 200px;
}
#boxwithtextandpicpreston {
    width: 650px;
    height: 175px;
}
#boxwithtextandpicadventist {
    width: 500px;
    height: 180px;
}
#boxwithtextandpicjohnpaul {
    width: 700px;
    height: 200px;
}
#boxwithtextandpicwillow {
    width: 540px;
    height: 195px;
}
#boxwithtextandpicsumcamp {
    width: 750px;
}


.floatpic {
    float: right;
    width: 225px;
    height: auto;
    margin-left: 15px;
    margin-bottom: 8px;
    border-radius: 10px;
}
#floatpiccities {
    width: 300px;
    height: auto;
}
#floatpicschools {
    width: 450px;
    height: auto;
}
#floatpicrichardson {
    height: 100px;
    width: auto;
}
#floatpicplano {
    height: 140px;
    width: auto;
}
#floatpicmkinney {
    height: 120px;
    width: auto;
}
#floatpicpreston {
    width: 300px;
    height: auto;
}
#floatpicadventist {
    width: 150px;
    height: auto;
}
#floatpicjohnpaul {
    width: 225px;
    height: auto;
}


.lineofpics {

    float: left;
    width: auto;
    height: 165px;
    margin-left: 15px;
    margin-right: 15px;
    /*margin-bottom: 8px;*/
    border-radius: 10px;
}
.lineofpicssumcamp {
    height: 135px;
}
.boxlineofpics {

    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
    border: 2px dashed darkblue;
    padding: 25px;
    padding-left: 40px;
}
#boxlineofpicssummercamppage {

    width: 800px;
    padding-left: 15px;
    padding-right: 15px;

}
.wrapper:after {
    content:'';
    display:block;
    clear: both;
}

.stdpicspruceup {
    border: 1px solid black;
    box-shadow: 5px 5px 8px rgba(0,0,0,.5);

}

.mobilestrip {
    display: none;
}
.mobilestriptext {
    display: none;
}
 #mobilefootermenu {
     display: none;
 }






