










@media screen and (max-width: 700px) {

    #topmenubar {
        display: none;
    }

    #mobilemenutop {
        z-index: 44;
        display: inline-block;
        position: absolute;
        width: 80px;
        height: 80px;
        right: 15px;
        top: 15px;
        background-color: lightgrey;
        padding: 4px;
        border: solid 1px black;
        border-radius: 5px;

    }

    .mobilebarsicon {
        z-index: 111;
        position: absolute;
        left: 20px;
        top: 10px;

    }
    #textshowmenu {
        z-index: 120;
        display: inline-block;
        width: 50px;
        position: absolute;
        left: 15px;
        top: 52px;
        color: black;
        font-size: 12px;
    }

    #mmitems {
        display: none;
        z-index: 44;
        position: absolute;
        width: 170px;
        height: 325px;
        right: 15px;
        top: 15px;
        background-color: lightgrey;
        padding: 4px;
        border: solid 1px black;
        border-radius: 5px;
        padding-top: 45px;
    }
    #mmitems a {
        display: block;
        height: 24px;
        width: 100%;
        color: black;
        border: 1px solid black;
        margin-top: 3px;
        text-align: center;
        border-radius: 5px;
    }
    /*#firstmenitemwithtopborder {*/
        /*border: 1px solid black;*/
        /*border-top: 1px solid black;*/
        /*border-radius: 5px;*/
    /*}*/
    #closeitems {
        position: absolute;
        left: 3px;
        top: 3px;
        width: 40px;
        height: 40px;
        border: 1px solid black;
        border-radius: 3px;
        background-color: grey;


    }
    #guanbi {
        position: absolute;
        top: 10px;
        left: 6px;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
    }

    .bannertext {
        color: ivory;
        font-size: 3em;
        font-weight: bold;
        position: absolute;
        top: 220px;
        left: 20px;
        border-radius: 10px;
        background-color: rgba(0,0,0,0.6);
        padding: 15px;
    }
    .bannertext {
        color: ivory;
        font-size: 2em;
        font-weight: bold;
        position: absolute;
        top: 220px;
        left: 40%;
        border-radius: 10px;
        background-color: rgba(0,0,0,0.6);
        padding: 15px;
    }
    #text0 {
        top: 320px;
        left: 15%;
        font-size: 1.8em;

    }
    #text1 {
        left: 21%;
        top: 290px;
    }
    #text2 {
        font-size: 1.5em;
        left: 15%;
        top: 290px;
    }
    #text3 {
        left: 15%;
        top: 290px;

    }
    #text4 {
        left: 16%;

        top: 290px;
    }



    #introtext {
        display: none;

    }

    #introtext2 {
        display: none;

    }


    #pagecities {
        padding-top: 160px;
    }








    #threeboxescontainer {
        display: none;
        position: relative;
        width: 380px;
        /*height: 300px;*/
        padding: 10px;
    }
    #threeboxesinset {
        /*width: 800px;*/
        margin-left: auto;
        margin-right: auto;
    }
    .callout {
        /*float: left;*/
        position: relative;
        /*float: left;*/
        display: block;
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        background-color: grey;
        border: 2px solid black;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 4px 4px 8px rgba(0,0,0,.5);
    }
    .callout:hover {
        background-color: lightcyan;
    }
    .callouticon {
        margin-left: 62px;
        margin-top: 35px;
    }
    .callouttext {
        /*float: left;*/
        /*display: inline-block;*/
        /*position: relative;*/
        color: black;
        margin: 15px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        font-weight: bold;
        font-size: 1.3em;
    }

    #callouticonhome {
        margin-left: 75px;
    }
    #callouticonusers{
        margin-left: 70px;
    }


    #housestrip {
        display: none;
    }

    #footer {
        display: none;
    }

    /************** Mobile Strips *******************************/
    .mobilestrip {
        display: inline-block;
        background-color: lightgoldenrodyellow;
        width: 100%;
        /*height: 250px;*/
        padding: 15px;
    }
    .mobilestripimagecontainer {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
    }
    .mobilestrippic {
        width: 240px;
        height: auto;
    }
    .mobilestriptext {
        display: inline-block;
        background-color: grey;
        width: 100%;
        /*height: 250px;*/
        padding: 15px;
        font-size: 1.2em;
    }
    .mobilestriptextcontainer {
        width: 270px;
        margin-left: auto;
        margin-right: auto;
        padding: 8px;
        text-align: center;
        border: 2px dashed white;
    }
    /************** ********************************************/



    #mobilefootermenu {
        display: inline-block;
        background-color: grey;
        width: 100%;
        /*height: 250px;*/
        padding: 15px;
        border: 2px solid darkred;
    }

    #mobilefootermenu a {
        color: black;
        display: block;
        text-align: center;
        padding: 4px;
        margin: 6px;
        border: 1px solid black;
        border-radius: 6px;
    }

    .mobilesitebylink {
        font-size: 10px;
        padding: 2px;
        border: none;
        margin: 3px;
    }

    .pagetextpicfloat {
        display: none;
    }




    #planotextbanner {
        font-size: 1.4em;
        width: 320px;
        /*padding: 4px;*/
        /*margin-top: 155px;*/
    }
    #pagesummercamp {
        padding-top: 170px;
    }
    #summercamptextbanner {
        width: 300px;
        /*bottom: 60px;*/
        /*left: 20px;*/
    }

/***************************************************************/
/* ... end mobile screen under 500px check    */
}












